<!--<% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <%= link_to "Task List", tasks_path(current_user.id) %> 
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Register a Task", new_task_path %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "Register an Account", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
-->

<% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "Task List", tasks_path(current_user.id) %>
    </li>
    <li class="nav-item">
       <%= link_to "Profile", user_path(current_user.id) %>
    </li>
    <li class="nav-item">
      <%= link_to "Register a Task", new_task_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    </li>

    <% else %>
    <li class="nav-item">
      <%= link_to "Register an Account", new_user_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Login", new_session_path %>
    </li>
<% end %>
  </ul>
</nav>

